/* Couleurs principales */
$color-primary: #0aae72;
$color-primary-transparent: #0aae7281;
$color-secondary: #eda148; 
$color-secondary-transparent: #eda04868;

/* Couleurs de texte */
$color-text-primary: black;
$color-text-secondary: rgb(66, 66, 66);
$color-text-white: white;

/* Couleurs de fond et effets */
$color-shadow: black;
$color-border: black;

/* Rayons de bordure */
$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 16px;

/* Épaisseurs de bordure */
$border-thin: 1px;
$border-medium: 2px;
$border-thick: 3px;

/* Espacements */
$padding-small: 4px 8px;
$padding-medium: 8px 16px;
$padding-large: 16px 16px;
$padding-xl: 24px 32px;

/* Tailles */
$size-logo: 200px;
$size-logo-small: 50px;
$size-delete-btn: 25px;
$size-book-read: 48px;
$height-bookenter: 60px;
$height-progress-bar: 40px;
$width-min-bookenter: 45dvw;
$width-progress-bar: 45dvw;

