@charset "UTF-8";
.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 16px;
}
.recherche form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  background: rgb(229, 162, 144);
  border-radius: 8px;
}
.recherche form button {
  padding: 8px 16px;
  background: rgb(111, 198, 30);
  border: solid 2px rgb(111, 198, 30);
  border-radius: 6px;
  transition: all 0.3s ease;
}
.recherche form button:hover {
  border: solid 2px rgb(111, 198, 30);
  background: rgb(231, 244, 231);
}

#page-recette {
  display: flex;
  flex-direction: column;
  margin: 16px;
  background: rgb(229, 162, 144);
  padding: 32px;
  border-radius: 16px;
  min-width: 50dvw;
  gap: 16px;
}
#page-recette #recetteHero {
  position: relative;
}
#page-recette #recetteHero .hero-img {
  border-radius: 16px;
  width: 100%;
  height: 50dvh;
  overflow: hidden;
}
#page-recette #recetteHero .hero-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
#page-recette #recetteHero .hero-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 16px;
}
#page-recette #recetteHero .hero-info .hero-text {
  display: flex;
  justify-content: space-between;
}
#page-recette #recetteHero .hero-info .hero-text .bg-green {
  display: block;
  background: rgb(132, 236, 132);
  padding: 4px 6px;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
}
#page-recette #recetteHero .hero-info .hero-text .bg-dark {
  display: block;
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
  padding: 4px 6px;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
}
#page-recette #recetteHero .hero-info h1 {
  width: -moz-fit-content;
  width: fit-content;
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
  border-radius: 8px;
  padding: 6px 12px;
  color: #fff;
}
#page-recette #recette {
  display: flex;
  width: 100%;
  align-items: start;
}
#page-recette #recette .recette-info {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: rgb(111, 198, 30);
  width: 100vw;
}
.header .header-logo {
  width: 40px;
}
.header .nav {
  display: flex;
  list-style: none;
  gap: 15px;
}
.header .nav li a {
  text-decoration: none;
  padding: 8px 12px;
  background: rgb(229, 162, 144);
  border: solid 2px rgb(229, 162, 144);
  color: black;
  border-radius: 8px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.header .nav li a:hover {
  background: rgb(231, 244, 231);
}

:root {
  --star-size: 15px;
  --star-color: #fff;
  --star-background: #fc0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(231, 244, 231);
  min-height: 100dvh;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: -moz-fit-content;
  width: fit-content;
  margin: 16px;
}
#hero .hero-logo {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
#hero h1 {
  text-align: center;
}

#recettesPopulaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  background: rgb(229, 162, 144);
  border-radius: 24px;
}

.recettesPopulaires-container {
  display: grid;
  gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 767px) {
  .recettesPopulaires-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .recettesPopulaires-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .recettesPopulaires-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  position: relative;
  text-decoration: none;
  border: solid 2px black;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  color: black;
}
.card:hover {
  transform: scale(1.05);
}
.card .hero-card {
  position: relative;
}
.card .hero-card img {
  height: 100%;
}
.card .hero-card .etiquettes {
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 6px;
  right: 6px;
  z-index: 10;
  align-items: end;
  width: 100%;
}
.card .hero-card .etiquettes .etoiles {
  margin-left: 16px;
}
.card .hero-card .etiquettes .etiquette-right {
  gap: 6px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.card .hero-card .etiquettes .etiquette-right .easy,
.card .hero-card .etiquettes .etiquette-right .vege {
  background: rgb(132, 236, 132);
  padding: 4px 6px;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
}
.card .card-content {
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
  border-radius: 8px;
  color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
}
.card .card-content .card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card-content .card-info .card-info-time {
  display: flex;
  align-items: center;
  max-width: 50%;
  width: -moz-fit-content;
  width: fit-content;
  gap: 4px;
}

.icone {
  width: 20px;
  filter: invert(100);
}

.etoiles {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: "Times New Roman", Times, serif;
  line-height: 1;
}
.etoiles::before {
  content: "★★★★★";
  color: transparent;
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=style.css.map */