
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/homme-carton-camionnette.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;

    .hero-content{
        margin: 0 0 40px 10%;
        width: 40%;
        @media screen and (max-width: 768px){
            width: 100%;            
        }
        h1{
            @include h1;
            
        }
        div{
            width: 30vw;
            height: 120px;
            display: flex;
            justify-content: center;
            .black-box{
                span{
                    font-size: 1.05em;
                    font-weight: 700;
                }
                padding:20px;
                flex-direction: column;
                color: $whitecolor;
            }
            .orange-box{
                span{
                    font-size: 1.05em;
                    font-weight: 700;
                }
                padding:20px;
                flex-direction: column;
                color: $blackcolor;
            }
        }
    }
}
.a-propos{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 50vh;
    @media screen and (max-width:768px) {
        flex-wrap: wrap;
        height: fit-content;
    }
    .left-section{
        @include left-section;
        .text-container{
            @include text-container-orange-box;

        }
    }
    .img-container{
        width: 50%;
        display: flex;
        align-items: center;
        overflow: hidden;
        .img-a-propos{
            width: 100%;
            
        }
    }
}
.nos-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin: 40px;
    }

    .grid-card{
        width: fit-content;
        display: grid;
        grid: auto  auto / 1fr 1fr;
        gap: 20px;
        img{
            max-width: 100%;
            height: auto;
        }
        .card-txt{
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 40px;
            gap: 12px;
            @media screen and (max-width:768px){
                width: 100%;
            }
        }
        .confiance{
            grid-column: 1 / 3; // de la colonne 1 à 3 (donc 2 colonnes)

            width: 100%;
            .confiance-txt{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30vh;
                background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)) ,url(images/2hommes-portent-un-meuble.webp);
            }
            .qualites{
                display: grid;
                grid: auto auto / 1fr 1fr 1fr;
                height: 20vh;
                .small-presentation{
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 20%;
                    text-align: center;
                    .square-white{
                        background: $whitecolor;
                        width: 20px;
                        height: 20px;
                        box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.384);
                    }
                    .square-black{
                        background: $blackcolor;
                        width: 20px;
                        height: 20px;
                        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.384);
                    }
                }
            }
        }
    }
}
.satisfaction{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .carroussel{
        display: flex;
        max-width: 1000px;
        justify-content: space-between;
        width: 100%;
        .message{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            text-align: center;
            width: 40%;
            
        }
        .arrow{
            width: 40px;
            height: 40px;
            border-top: solid 2px $blackcolor;
            border-left: solid 2px $blackcolor;
        }
        .arrow-left{
            transform: rotate(-45deg);
        }
        .arrow-right{
            transform: rotate(135deg);
            
        }
    }
}
.grid-client{
    margin-top: 150px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100%;
    
}
.index{
 .formulaire-devis{
    margin-top: 100px;
    @include formulaire;}
 }