@import '_variable.scss';
@import '_header.scss';
@import 'accueil-main.scss';
@import '_apropos.scss';
@import '_conseil.scss';
@import 'service.scss';
@import '_contact.scss';

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.woff2') format('woff2'),
        url('/fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    
}
a{
    text-decoration: none;
}
.black-box{
    background: $blackcolor;
}
.orange-box{
    background: $orangecolor;
}
.white-box{
    background: $whitecolor;
}
.white-title{
    color: $whitecolor;
}
.section-title{
    @include section-title;
}
h3{
    font-size: 2em;
}
.orange-button{
    @include orange-button
}
main{background: $whitecolor;}
.bck-to-home-logo {
    margin-left: 20px;
    color: $whitecolor;
    display: flex;
    .slogan {
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
    }
    .logo{
        width: 60px;
        height: 60px;
    }
}
.white-bg{
    background: white;
}