.pixel-art{
    border: solid 4px #000;
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background: #0773f7;
}

.pixel{background: #eaf707;}
.a{grid-column: 2/4;}
.b{grid-column: 6/8;}
.c{grid-area: 2/3/2/3;}
.d{grid-area: 2/6/2/7;}
.e{grid-area: 3/3/3/7;}
.f{grid-area: 4/2/4/3;}
.g{grid-area: 4/4/4/6;}
.h{grid-area: 4/7/4/8;}
.i{grid-area: 5/2/5/8;}
.j{grid-area: 6/3/6/7;}
.k{grid-area: 7/4/7/6;}