@import "_functions.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_base.scss";

header{
    background-color: $primary-color;
    height: 60px;
}
footer{
    background-color: $secondary-color;
    height: 60px;
}
.btn{
    @include button($primary-color, 8px, white);

}
ul{
    display: flex;

    justify-content: space-between;
    margin: 2vh 3vw;
    .card{
        list-style: none;
        width: 20%;
        background: red;
        transition: all 0.3s ease-in-out;
        &:hover{
            background: colorModifier(red, 'lighten') !important;

        }
        .btn{
            @include button($secondary-color, 2px, black);
        }
    }}
h1{
    @include screen-size;
}